* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /* background: var(--grad-bg-color); */
    background: var(--grad-bgBody-color);
    overflow-x: hidden;
}

ul {
    margin-top: 7rem;
    list-style: none;
}

li {
    border-bottom: rgb(0, 97, 57)1px solid;
    margin-top: 2rem;
}
:root{
    --grad-bgDay-color: rgb(153, 153, 153);
    --grad-bg-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,34,43,1) 48%, rgba(1,61,49,1) 80%, rgba(0,96,56,1) 100%);
    --grad-bgBody-color: linear-gradient(90deg, rgba(0,96,56,1) 20%, rgba(1,61,49,1) 45%, rgba(1,34,43,1) 70%, rgba(2,0,36,1) 100%);
    --princ-font-color:#fafafa;
}

main {
    display: flex;
}

.painel::-webkit-scrollbar {
    height: 0.1px;
}

#content {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

#clock {
    margin-right: 1px;
    font-weight: 700;
}

.month {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    width: 100vw;
    color: var(--princ-font-color);
}

.setores {
    width: 200px;
    color: var(--princ-font-color);
    height: 100vh;
    position: fixed;    
    border: none;
    background: var(--grad-bg-color);

}

.fas {
    padding: 20px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin: 0 10px;
}

.column {
    margin-top: 3px;
}

.setor {
    height: 3.5rem;
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.day {
    background: var(--grad-bgDay-color);
    height: 3.21rem;
    flex: none;
    height: 49px;
    width: 225px;
    text-align: center;
    margin: 5px 10px;
    color: var(--princ-font-color);
    border-radius: 5px;
}

.ano::before {
    content: "";
    width: 0px;
    background-color: chartreuse;
    position: fixed;
    top: 20px;
    height: 2px;
}

.ano:hover::before {
    content: "";
    width: 33px;
    background-color: chartreuse;
    position: fixed;
    top: 20px;
    height: 2px;
    transition: 1s;
}

.elite {
    height: 40px;
}

.simples {
    height: 40px;
}

.fortics {
    height: 40px;   
}

.iclass {
    height: 40px;
    width: 60px;
}

img {
    margin: 0 2px;
}

.closeModal {
    position: fixed;
    top: 210px;
    right: 705px;
    height: 20px;
}

.modalOff {
    visibility: hidden;
    display: none;
    background-color: #000000;
}

.modalOff.modalOn {
    display: block;
    position: fixed;
    background-color: #00000098;
    height: 100vh;
    width: 100vw;
    visibility: visible;
    align-items: center;
}

.modal {
    animation: modal 0.1s linear;
    border-radius: 5px;
    background-color: var(--princ-font-color);
    margin: 200px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
    height: 350px;
    box-shadow: -.1em .1em .5em #b9b8b8;
}

.painel {
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    height: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 100vw;
    padding-left: 200px;
    /* Touch do celular em outros navegadores */
    -webkit-overflow-scrolling: touch;
    /* Touch do celular em outros navegadores */
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.today {   
    font-weight: 700;    
}
.today .day{    
    background: rgb(73, 73, 73);
        }

@keyframes modal {
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        left: -500px;
        top: -500px;
    }

    50% {
        opacity: 1;
    }

    100% {

        width: 550px;
        height: 350px;
    }
}