* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.918);
    overflow-x: hidden;
}

ul {
    margin-top: 7rem;
    list-style: none;
}

li {
    border-bottom: hsl(155, 100%, 19%)1px solid;
    margin-top: 2rem;
}

main {
    display: flex;
}

.painel::-webkit-scrollbar {
    height: 0.1px;
}

#content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    
}

#clock {
    color: chartreuse;
    margin-right: 1px;
    font-weight: 700;
    
}

.month {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    width: 100vw;
    
    color: #fafafa;
}

.setores {
    width: 200px;
    color: white;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0);
}

.fas {
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin: 0 10px;
}

.column {
    margin-top: 3px;
}

.setor {
    height: 3.5rem;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
p{
    height: 50px;
    width: 100px;
    background-color: red;
}

.day {
    background-color: #696969;
    height: 3.21rem;
    flex: none;
    height: 49px;
    width: 225px;  
    text-align: center;
    margin: 5px 10px;
    pointer-events: none;
    color: white;
}
.BTN{
    background-color: transparent;
    border:none;    
    color: white;
}
.BTN::before {
    content: "";
    width: 0px;
    background-color: chartreuse;
    position: fixed;
    top:20px;
    height: 2px;
  }

.BTN:hover::before{
    content: "";
    width: 33px;
    background-color: chartreuse;
    position: fixed;
    top:20px;
    height: 2px;
    transition: 1s;
}

.elite{
    height: 40px;
    background-image: url(img/elite-logo.png);
    
}
.simples{
    height: 40px;
    background-image: url(img/LOGO_SIMPLES_IP.png);
}
.fortics{
    height: 40px;
    border-radius: 50%;
    background-image: url(img/60e59c62948e770011572856.jfif);
}
.iclass{
    height: 40px;
    width: 60px;
    background-image: url(img/logo-IClass-Software-de-Ordem-de-Serviço-Online.png);
}

.painel {    
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    height: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 100vw;
    padding-left: 200px;
    /* Touch do celular em outros navegadores */
    -webkit-overflow-scrolling: touch;
    /* Touch do celular em outros navegadores */
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.today {
    box-shadow: inset 0px 3px 3px 0px rgb(0 0 0 / 26%);
    font-weight: 700;
    
}
